body {
  background-image: url('../assets/images/office_bd.png')

}

.no-display {
  display:none;
}

.office {
  font-family: itc-american-typewriter, serif;
}
.time-format {
  font-family: itc-american-typewriter, serif;
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  color: #4484b9;
  font-weight: bold;
}
input[type=radio] {
  border:0px;
  width: 10%;
  height: .9em;
}

h3, .rightResults, .wrongResults{
  font-family: itc-american-typewriter, serif;
  text-align: center;
  font-size: 30px;
}

#results-hd {
  font-family: itc-american-typewriter, serif;
font-size: 50px;
text-align: center;
}

#format-answers {
  font-family: itc-american-typewriter, serif;
  font-size: 26px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 75px;


}
#format-questions{
  font-family: itc-american-typewriter, serif;
  font-size: 28px;
  font-weight: bold;
  margin-left: 75px;
  margin-top: 30px;
  margin-bottom: 20px
}

.font {
  font-size: 100px;
  font-weight: 500;
  letter-spacing: 5px;
  background: black;
  opacity: 0.9;
  color: white;
}

#start-btn-bg {
  background: #4484b9;
  opacity: 0.9;
  height: 50%;
}

.coolHover {
  opacity: 1;

}
.no-time {
  font-family: itc-american-typewriter, serif;
  color: #4484b9;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}

#startBtn {
  opacity: 1;
  height: 200px;
  width: 300px;
  font-size: 100px;
  margin-top: 100px;
  font-family: itc-american-typewriter, serif;
  background: white;
  border: 1px solid white;

}

#startBtn:hover {
  background: white;
  color: #4484b9;
  border: 1px solid white;
}
button {
  margin-top: 50px;
  height: 75px;
  width: 100%;
  font-size: 50px;
  background: #white;
  border: 1px solid black;
  color: black;
}



button:hover {
color: white;
background: #4484b9;
}

.sticky {
  background: white;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.height-class-results {
  height: 320px;
}

.height-class-questions {
  height: 3700px;
}
.height-class-out-of-time {
height: 250px;
}

.footer {
  background: #4484b9
}
